/*Sets the default margin, padding and font to 0px on all elements.*/
*{margin:0px; padding:0px; font-family: Arial, Helvetica, sans-serif;}

/*Sets default text align to center, text color to white and background colour to blue on all pages*/
html {text-align: center; color: white; background-color: rgb(15, 15, 86);}

/*Underlines h3 headings*/
h3 {text-decoration: underline;}




