/********************************
Developer: Hussain Alwazan
University ID: 230049123
Function: This page is to display items and purchase it.
********************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #fd4646;
    --text-color: #000000;
    --bg1-color: #007f00;
    --bg-color: #ffffff;
    --container-color: #1e1e2a;
    --bg2-color: #8175d3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--container-color);
    padding: 25px;
}

.container form {
    width: 700px;
    padding: 40px;
    background: var(--bg-color);
    border-radius: 10px;
}

form .row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.row .column {
    flex: 1 1 250px;
}

.column .title {
    font-size: 20px;
    color: var(--container-color);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.column .input-box {
    margin: 15px 0;
}

.input-box span {
    display: block;
    margin-bottom: 10px;
}

.input-box input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--container-color);
    border-radius: 6px;
    font-size: 15px;
}

.input-box input[type="month"] {
    width: 100%;
    padding:9px 15px;
    border: 1px solid var(--container-color);
    border-radius: 6px;
    font-size: 15px;
}


.input-box img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px var(--text-color));
}

form .btn {
    width: 100%;
    padding: 12px;
    background: var(--bg2-color);
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: var(--bg-color);
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}

form .btn:hover {
    background: var(--bg1-color);
}
